{% extends 'base.html.twig' %}

{% block title %}Index des Réponses{% endblock %}

{% block body %}
    <h1>Index des Réponses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Réponses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.id }}</td>
                <td>{{ answer.date ? answer.date|date('Y-m-d') : '' }}</td>
                <td>{{ answer.textOfAnswer }}</td>
                <td>
                    <a href="{{ path('answer_show', {'id': answer.id}) }}">Détails</a>
                    <a href="{{ path('answer_edit', {'id': answer.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucunes réponses trouvées en Base de Donnée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('answer_new') }}">Nouvelle Réponse</a>
{% endblock %}
