{% extends 'base.html.twig' %}

{% block title %}Index des Réponses
{% endblock %}

{% block body %}
    <h1>Index des Réponses</h1>

    <table class="table" data-toggle="table">
        <thead>
            <tr>
                <th data-sortable="true">Candidature</th>
                <th data-sortable="true">Date</th>
                <th data-sortable="true">Réponse</th>
                <th>{#ne pas supprimer ce TH#}</th>
            </tr>
        </thead>
        <tbody>
        {% for answer in answers %}
            <tr>
                {#titre de la candidature#}
                <td>
                {% if answer.application is defined and answer.application is not null %}
                    {{ answer.application.title }}
                {% endif %}
                </td class="text-center-horizontal">
                {#date de la réponse#}
                <td class="text-center-horizontal">{{ answer.date ? answer.date|date('Y-m-d') : '' }}</td>
                {#text de la réponse#}
                <td class="text-center-horizontal">{{ answer.textOfAnswer }}</td>
                <td>
                {#boutons#}
                    <a class="btn btn-light btn-center" href="{{ path('answer_show', {'id': answer.id}) }}">Détail</a><br><br>
                    <a class="btn btn-light btn-center" href="{{ path('answer_edit', {'id': answer.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune Réponse en Base de Donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
