{% extends 'base.html.twig' %}

{% block title %}Index des Candidatures
{% endblock %}

{% block body %}
	<h1>Index des Candidatures</h1>

	<table class="table" data-toggle="table">
		<thead>
			<tr>
				<th data-sortable="true">Titre de l'Annonce</th>
				<th data-sortable="true">Entreprise</th>
				<th data-sortable="true">Date</th>
				<th data-sortable="true">Date de Suivi</th>
				<th data-sortable="true">Date de Réponse</th>
				<th data-sortable="true">Réponse</th>
				<th >Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for application in applications %}

				<tr>
					{#Titre de l'Annonce#}
					<td>{{ application.title }}</td>
					{#Entreprise#}
					<td>
						{% if company.application is defined and company.application is not null %}
							{{ application.company.companyName}}
						{% endif %}
					</td>
					{#Date#}
					<td>{{ application.postingDate ? application.postingDate|date('Y-m-d') : '' }}</td>
					{#Date de Suivi#}
					<td>{{ application.folowUpDate ? application.folowUpDate|date('Y-m-d') : '' }}</td>
					{#Date de Réponse#}
					<td>
						{% if answer.application is defined and answer.application is not null %}
							{{ application.answer.date ? application.answer.date|date('Y-m-d') : '' }}}
						{% endif %}
					</td>
					{#Réponse#}
					<td>
						{% if answer.application is defined and answer.application is not null %}
							{{ application.answer.textOfAnswer }}}
						{% endif %}
					</td>
					{#Actions#}
					<td>
						<a class="btn btn-light" href="{{ path('application_show', {'id': application.id}) }}">Détail</a><br><br>
						<a class="btn btn-light" href="{{ path('application_edit', {'id': application.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">Acune Candidature en Base de Donnée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('application_new') }}">Create new</a>
{% endblock %}
