{% extends 'base.html.twig' %}

{% block title %}Détails de l'Annonce{% endblock %}

{% block body %}
    <h1>Détails de l'Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ application.postingDate ? application.postingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de suivi</th>
                <td>{{ application.folowUpDate ? application.folowUpDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Site WEB de l'Annonce</th>
                <td>{{ application.addsWEBSite }}</td>
            </tr>
            <tr>
                <th>Annonce</th>
                <td>{{ application.jobAdvertisement }}</td>
            </tr>
            <tr>
                <th>Unsolicited</th>
                <td>{{ application.unsolicited ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ application.comments }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('application_index') }}">Retour à la Liste</a>

    <a href="{{ path('application_edit', {'id': application.id}) }}">Modifier</a>

    {{ include('application/_delete_form.html.twig') }}
{% endblock %}
