{% extends 'base.html.twig' %}

{% block title %}Application{% endblock %}

{% block body %}
    <h1>Application</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Numéro</th>
                <td>{{ application.id }}</td>
            </tr>
            <tr>
                <th>Nom du site WEB</th>
                <td>{{ application.webSiteName }}</td>
            </tr>
            <tr>
                <th>Nom de la Société</th>
                <td>{{ application.companyName }}</td>
            </tr>
            <tr>
                <th>Annonce</th>
                <td>{{ application.jobAdvertisement }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{ % for application.contact in contacts %}</td>
                <tr></tr>
            </tr>
            <tr>
                <th>Date de Candidature</th>
                <td>{{ application.postingDate ? application.postingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date de Relance</th>
                <td>{{ application.folowUpDate ? application.folowUpDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Candidature Spontanée</th>
                <td>{{ application.unsolicited ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ application.comments }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('application_edit', {'id': application.id}) }}" class="btn btn-light" role="button">Modifier</a><br />

    {{ include('application/_delete_form.html.twig') }}
{% endblock %}
