{% extends 'base.html.twig' %}

{% block title %}Liste des Contacts{% endblock %}

{% block body %}
    <h1>Liste des Contacts</h1>

    <table class="table" data-toggle="table">
        <thead>
            <tr>
                <th data-sortable="true">Employeur</th>
                <th data-sortable="true">Prénom</th>
                <th data-sortable="true">Nom</th>
                <th data-sortable="true">Télephone</th>
                <th data-sortable="true">Couriel</th>
                <th data-sortable="true">Adresss</th>
                <th >Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{% if contact.application is defined and contact.application is not null %}
                    {{ contact.application.companyName}}
                    {% endif %}</td>
                <td>{{ contact.forName }}</td>
                <td>{{ contact.sirName }}</td>
                <td>{{ contact.telephone }}</td>
                <td>{{ contact.eMail }}</td>
                <td>{{ contact.address }}</td>
                <td>
                    <a href="{{ path('contact_show', {'id': contact.id}) }}">Détails</a>
                    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">aucuns contacts</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="{{ path('contact_new') }}" class="btn btn-light">Nouveau Contact</a>
{% endblock %}
