{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contact.forName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.sirName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ contact.telephone }}</td>
            </tr>
            <tr>
                <th>Couriel</th>
                <td>{{ contact.eMail }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ contact.address }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_index') }}">liste des contacts</a>

    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
