{% extends 'base.html.twig' %}

{% block title %}{ contact.contactTitle }{ contact.forName }{ contact.sirName }{% endblock %}

{% block body %}
    <h1>{ contact.contactTitle }{ contact.forName }{ contact.sirName }</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ contact.contactTitle }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ contact.forName }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ contact.sirName }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ contact.telephone }}</td>
            </tr>
            <tr>
                <th>Courriel</th>
                <td>{{ contact.eMail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_index') }}">Retour à la Liste</a>

    <a href="{{ path('contact_edit', {'id': contact.id}) }}">Modifier</a>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
