{% extends 'base.html.twig' %}

{% block title %}Détail de l'Entreprise{% endblock %}

{% block body %}
    <h1>Détail de l'Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ company.id }}</td>
            </tr>
            <tr>
                <th>Nom de l'Entreprise</th>
                <td>{{ company.companyName }}</td>
            </tr>
            <tr>
                <th>Site WEB</th>
                <td>{{ company.companyWEBSite }}</td>
            </tr>
            <tr>
                <th>Commentaires</th>
                <td>{{ company.comments }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('company_index') }}">Retour à la Liste</a>

    <a href="{{ path('company_edit', {'id': company.id}) }}">Modifier</a>

    {{ include('company/_delete_form.html.twig') }}
{% endblock %}
