{% extends 'base.html.twig' %}

{% block title %}Détail de l'Entreprise
{% endblock %}

{% block body %}
	<h1>Détail de l'Entreprise</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Nom de l'Entreprise</th>
				<td>{{ company.companyName }}</td>
			</tr>
			<tr>
				<th>Site WEB</th>
				<td>{{ company.companyWEBSite }}</td>
			</tr>
						<tr>
				<th>Adresse</th>
				<td>{% if company.address is defined and company.address is not null %}
						{{ company.address }}
					{% endif %}
					</td>
			</tr>
			<tr>
				<th>Commentaires</th>
				<td>{{ company.comments }}</td>
			</tr>
			<tr>
				<th>Salariés</th>
				<td>
					{% for contact in company.contacts %}
                        <a {#href="{{ path('contact_show', {'id': contact.id}) }}"#}>{{ contact.contactTitle ~" "~ contact.forName ~" "~ contact.sirName }}</a><br><br>
					{% endfor %}
				</td>
			</tr>
		</tbody>
	</table>

	<div class="btn btn-light btn-center" href="{{ path('company_index') }}">Retour à la Liste</div><br><br>

	<div class="btn btn-light btn-center" href="{{ path('company_edit', {'id': company.id}) }}">Modifier</div><br><br>

	{{ include('company/_delete_form.html.twig') }}
{% endblock %}
