{% extends 'base.html.twig' %}

{% block title %}Liste des Adresses{% endblock %}

{% block body %}
    <h1>Liste des Adresses</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Etage</th>
                <th>Numéro</th>
                <th>Rue/Chemin/Allée</th>
                <th>Code Postal</th>
                <th>Ville/Village</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for address in addresses %}
            <tr>
                <td>{{ address.id }}</td>
                <td>{{ address.floor }}</td>
                <td>{{ address.number }}</td>
                <td>{{ address.way }}</td>
                <td>{{ address.postCode }}</td>
                <td>{{ address.city }}</td>
                <td>{{ address.country }}</td>
                <td>
                    <a href="{{ path('address_show', {'id': address.id}) }}">Détail</a>
                    <a href="{{ path('address_edit', {'id': address.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune Adresse en Base de Donnée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('address_new') }}">Create new</a>
{% endblock %}
