{% extends 'base.html.twig' %}

{% block title %}Détail de l'Adresse{% endblock %}

{% block body %}
    <h1>Détail de l'Adresse</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Etage</th>
                <td>{{ address.floor }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ address.number }}</td>
            </tr>
            <tr>
                <th>Voie</th>
                <td>{{ address.way }}</td>
            </tr>
            <tr>
                <th>Code Postal</th>
                <td>{{ address.postCode }}</td>
            </tr>
            <tr>
                <th>Ville/Village</th>
                <td>{{ address.city }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ address.country }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('address_index') }}">Retour à la Liste</a>

    <a href="{{ path('address_edit', {'id': address.id}) }}">Modifier</a>

    {{ include('address/_delete_form.html.twig') }}
{% endblock %}
